<html lang="en">
  <%- include('./partials/headHome.ejs') %>
  <body>
  <div class="LoginContainer">
    <nav class="navbar">
      <a href="/" class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/8152/8152739.png" href="/" width="50px" color="black"></img>
      <span id="logo-text">Black Saturn</span>
      </a>
    
      <ul class="navbar-nav">

          <li class="nav-item" id="profile-button">
            <button type="button" class="btn" onclick="redirect('perfil')">
              <i class="fa-solid fa-user"></i>
              perfil</button>
          </li>

        <li class="nav-item" id="register-button">
          <button type="button" class="btn" onclick="redirect('register')">Cadastro</button>
        </li>
        <li class="nav-item" id="login-button">
            <button type="button" class="btn" onclick="redirect('login')">login</button>
        </li>

      </ul>
    </nav>
  </div>

  <section>
    <div class="parallax">
      <h1 id="welcome"></h1>
      <img src="https://cdn-icons-png.flaticon.com/512/1751/1751904.png" id="planet">

      <div class="crud-button-div">
        <button type="button" class="crud-button" id="create-btn" onclick="popBox('open')">Criar usuários</button>
        <button type="button" class="crud-button" id="users-btn" onclick="redirect('users')">Acessar usuários</button>
        <button type="button" class="crud-button" id="delete-btn" onclick="redirect('delete')">Apagar usuários</button>
      </div>
    </div>
    <div class="popBox">
      <i class="fa-solid fa-circle-check" id="confirm-icon"></i>
      <div class="form-container" id="form-container">
        <form name="popBoxForm" id="popBoxForm">
          <span class="title">NOME:</span>
          <input type="text" id="name" name="name" value="">
          <span class="title">EMAIL:</span>
          <input type="email" id="email" name="email" value="">
          <span class="title">SENHA:</span>
          <input type="password" id="password" name="password" value="">
          <input type="submit" id="submit-btn"></button>
        </form>
      </div>
      <div class="close-btn-div">
        <button type="button" class="btn" id="close-btn" onclick="popBox('close')">X</button>
      </div>
    </div>
  </section>
  <section class="post-section">
      <img src="../../static/Background/nebula-background.png" id="nebula-bg" alt="">
      <img src="../../static/Background/nebula-foreground.png" id="nebula-fg" alt="">
      <img src="../../static/Background/moon.png" id="moon" alt="">
      <button type="button" class="element" onclick="redirect('posts')"> Acessar Posts!</button>
  </section>

<script>
  let loggedIn;
  let isAdmin

  window.addEventListener("DOMContentLoaded", () => {
    fetch('/verificar-autenticacao')
      .then( response => response.json())
      .then(data => {
        console.log(data);
        usuario = data.name;
        loggedIn = data.loggedIn;
        isAdmin = data.isAdmin;
        updateUI();
      })
      .catch(error => {
        console.error('Erro ao verificar autenticação:', error);
      });
  })

  function updateUI(){
    const registerButton = document.getElementById('register-button');
    const loginButton = document.getElementById('login-button');
    const profileButton = document.getElementById('profile-button');
    const welcome = document.getElementById("welcome");
    welcome.innerText = `Bem vindo ${usuario}!`

    if(loggedIn){
      registerButton.style.display = 'none';
      loginButton.style.display = 'none';
      profileButton.style.display = 'block';

      welcome.innerText = `Bem vindo ${usuario}!`
    } else {
      registerButton.style.display = 'block';
      loginButton.style.display = 'block';
      profileButton.style.display = 'none';
      welcome.innerText = 'Bem vindo'
    }
  }

function redirect(page){
  switch (page) {
    case 'users':
    window.location.href = "/view/users";
      break;
    
    case 'login':
    window.location.href = "/login";
    break;

    case 'delete':
    window.location.href = "/delete"
    break;

    case 'register':
    window.location.href = "/register";
    break;

    case 'posts':
    window.location.href = "/view/posts";
    break;
    default:
      break;
  }
}

function popBox(action) {
  if (isAdmin) {
    var popBox = document.querySelector(".popBox");

    if (action == 'open') {
      popBox.classList.add('active');
    } else if (action == 'close') {
      popBox.classList.remove('active');
    }
  } else {
    var crudButton = document.querySelector(".crud-button");

    crudButton.classList.add('active');

    setTimeout(() => {
      crudButton.classList.remove('active');
    }, 2000);
  }
}

document.getElementById("popBoxForm").addEventListener("submit", function(event){
  event.preventDefault();
        
        const formData = {
          name: document.getElementById("name").value,
          email: document.getElementById("email").value,
          password: document.getElementById("password").value
        }
        console.log(formData);
    
        fetch('http://localhost:8090/users',{
          method: 'POST',
          headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(formData)
        })
        .then((response)=>{
          return response.json()
        })
        .then(data => {
          const form = document.querySelector(".form-container");
          const confirmIcon = document.getElementById("confirm-icon");
          const closeButton = document.getElementById("close-btn");

          closeButton.style.display = 'none';

          form.classList.add('active')
          setTimeout(()=>{
            form.classList.remove('active')
            confirmIcon.style.display = 'none';
            closeButton.style.display = 'block';
          },5000)

          setTimeout(()=>{
            confirmIcon.style.display = 'block';
          },500)

          setTimeout(()=>{popBox('close');},1000)
    console.log(data)
  })
  .catch((error)=>{
    console.log(error);
  })
})

function adjustOpacity() {
  var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

  var element = document.querySelector('.element');
  var nebula = document.getElementById("nebula-bg");
  var navbar = document.querySelector('.navbar');

  // Calcula a opacidade 
  var opacityDown = scrollTop / 100;
  var opacityUp = 1 - scrollTop / 100;


  setTimeout(function() {
    element.style.opacity = opacityDown;
    nebula.style.opacity = opacityDown;
    navbar.style.opacity = opacityUp;
  }, 200)
}



function handleScroll() {
  adjustOpacity();
}

window.addEventListener('scroll', handleScroll);
</script>

</body>
</html>