<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../../static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Posts!</title>
    <style>
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("../../../static/Background/nebula-background.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  animation: spawn 1s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blinking {
  0% { opacity: 1; }
  40% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #181818;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  box-shadow: 5px 3px 4px #e043c644;
}

.back:hover {
  transition: 1s;
  background-color: #2727276e;
}

.flex-container {
  padding: 30px;
  width: 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #00000050;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #00000080;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  gap:15px;

  min-height: 200px;
  max-height: 600px;
}

.text-container{
  display: flex;
  justify-self: start;
  min-height: 100px;
  max-height: 500px;
  padding: 10px;

  background-color: #0000004d;
  border: 2px solid #c643e070;
  border-radius: 10px;
  box-shadow: 3px 2px 3px #c643e070;
}

.title{
  position: relative;
  left: -35%;
  color: #ce33a4;
}

.star{
  position: absolute;
  right: 5%;
  bottom: 8%;
}

.post-card:hover {
  transform: scale(1.05);
}

.star-icon {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  color: #ddd;
  font-size: 24px;
}

.post-card:hover .star-icon {
  visibility: visible;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.title,
.email,
.isAdmin {
  transition: 0.3s;
}


.star i{
  color: white;
}

.post-card:hover .title,
.post-card:hover .text,
.post-card:hover .star,
.post-card:hover .text-container,
.post-card:hover i{
  visibility: hidden;
  opacity: 0;
}

.create {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #541142;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  box-shadow: 5px 3px 4px #e043c644;
}

.flex-form{
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

.flex-form.active{
  visibility: visible;
  animation: spawn .4s ease both;
}

.relative-form-container{
  position: relative;
  width: 45%;
}

.closeForm{
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  border: none;
  background-color: #181818;
  height: 50px;
  width: 50px;
  color: #ddd;

  cursor: pointer;
}

.create-form{
  margin: 30px 20px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 50%;
  color: #ddd;

  gap: 15px;
  background-color: #222222;
  border: 2px solid #c643e070;
  border-radius: 10px;
}

.create-form textarea{
  padding: 5px;
  background-color: #313131;
  border: 2px solid #c643e070;
  border-radius: 10px;
  height: 50px;
  resize: none;
  color: #ddd;
  font-size: 18px;

}

#post-content{
  height: 200px;
}

#postButton {
  width: 100px;
  height: 60px;
  background-color:  #c643e070;
  border-radius: 10px;
  border: none;
  color: #ddd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
  align-self: flex-end;

  box-shadow: 2px 1px 2px #581a5e;
  transition: 0.3s ;
}

#postButton:hover{
  transform: scale(1.05);

  background-color: #4d155e;
  cursor: pointer;
  box-shadow: 4px 3px 4px #581a5e;

}


</style>
  </head>