
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Black Saturn</title>
<style>
      html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spawn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes float {
  0%{transform: translateY(0px);}
  50%{transform: translateY(60px);}
  95%{transform: translateY(0px);}
  100%{transform: translateY(0px);}
}
@keyframes floatMin {
  0%{transform: translateY(0px);}
  50%{transform: translateY(30px);}
  95%{transform: translateY(0px);}
  100%{transform: translateY(0px);}
}


@keyframes blinking {
  0%{opacity: 20%;}
  50%{opacity: 100%;}
  95%{opacity: 20%;}
  100%{opacity: 20%;}
}

@keyframes disappear {
  0%{opacity: 100%;}
  100%{opacity: 0%;}
}

@keyframes error {
  0%{transform: translateX(0px);}
  25%{transform: translateX(30px);}
  50%{transform: translateX(-30px);}
  75%{transform: translateX(15px);}
  100%{transform: translateX(0px);}
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;

  overflow-x: hidden;

  /* code to make all text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #25041e; 
    color: #ddd;
}
a {
    color: #ddd;
    text-decoration: none;
}
i {
  padding: 0px 5px;
}
/* --Navbar  */
nav{
    background-color: #541142;
    position: fixed;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ddd;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px 10px;

    margin-bottom: 70px;
}


.logo{
  display: flex;
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
  align-items: center;
  text-align: center;
  vertical-align: auto;
  animation: spawn 4s ease;
}

.navbar-nav {
  font-weight: bold;
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav-item {
  margin-left: 20px;
}

button:active {
    transform: scale(0.95);
  }

.btn{
  font-size: 15px;
  font-weight: bold;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #1C1C1C;
  cursor: pointer;
}


/* --Parallax Image  */
.parallax{
  margin-top: 70px;
  background-image: url("https://rare-gallery.com/thumbnail/431541-galaxy-universe-pixel-art-pixels-digital-art-artwork.png");
  min-height: 650px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: spawn 2s ease-in;
}

/* --Welcome Text  */
#welcome{
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 15%;
  top: 20%;
}

/* --Floating planet  */
#planet{
  width: 400px;
  position: absolute;
  top:180px;
  left: 100px;
  animation: float 8s ease-in-out 1s infinite both;

}

/* -- Create User box Form  */
.popBox{  
  height: 400px;
  width: 300px;
  position: fixed;
  right: -500px;
  top: 15%;
  transform: translateX(-30%);
  background-color: #822f9b;
  color: #ddd;
  padding: 50px 20px;
  transition: right 0.8s ease-in-out;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 4px 3px 4px #8a6dd4;
}

.popBox.active{
  right: 0px;
}

.popBox form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popBox input{
  height: 30px;
  width: 98%;
  border-radius: 5px;
  border: 0px solid white;
  margin: 10px 5px;
  transition: spawn 2s;
  padding-left: 5px;
}

#submit-btn {
  margin-top: 5px;
  padding: 10px 20px;
  color: #ddd;
  width: 100px;
  background-color: #a859d6;
  border-radius: 3px;
  border: 0px;
}

.close-btn-div {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-btn {
  width: 50px;
  color: #ddd;
  border-radius: 50%;
  background-color: #1C1C1C;
}

.popBox i{
  display: none;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 100px;
}

.form-container.active{
  opacity: 0%;
  transition: .2s ease-out;
}


/* --Main buttons  */
.crud-button-div{
  position: absolute;
  top: 40%;
  right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 300px;
}

.crud-button{
  transition: .3s;

  font-size: 20px;

  height: 70px;
  width: 170px;
  color: #ddd;
  background-color: #922174;

  border-radius: 10px;
  border: 1px solid #64124e;
  cursor: pointer;

  animation: spawn 2s ease-out;
}

.crud-button:hover{
  transform: scale(1.05);

  background-color: #822f9b;
  cursor: pointer;
  box-shadow: 4px 3px 4px #581a5e;
}

.crud-button.active{
  animation: error 1.5s ease;
  background-color: red;
}

.post-section{
  position: relative;
}

#nebula-bg{
  position: relative;
  width: 100%;
  height: 72%;
  animation: spawn 2s ease-out;
  transition: opacity .4s;
}
#nebula-fg{
  position: absolute;
  margin-top: 10px;
  height: 97%;
  width: 100%;

  left: -5px;
  z-index: 1;
  animation: blinking 5s ease infinite 3s both;
}
#moon{
  position: absolute;
  z-index: 2;
  margin-top: 23%;
  left: 70%;
  animation: float 7s infinite both ease-in-out;
}

.element {
  position: absolute;
  top: 40%;
  left: 43%;

  padding: 10px;
  width: 280px;
  height: 100px;
  background-color: rgb(114, 24, 99);
  border-radius: 20px;
  border: none;
  opacity: 1;
  transition: .8s;
  z-index: 2;
  color: #ddd;
  font-size: 25px;
}

.element:hover{
  transform: scale(1.05);
  transition: .4s;
  background-color: rgb(90, 18, 78);
  font-size: 28px;
  cursor: pointer;
  box-shadow: 4px 3px 4px #581a5e;

  animation: floatMin 7s infinite both ease-in-out;
}

    </style>
  </head>
